.o-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq($from: tablet-portrait) {
    justify-content: space-around;
  }

  @include mq($from: wide) {
    justify-content: flex-start;
  }

  // Multiple Cards container for rotate animation
  &__cards {
    position: relative;
    min-width: 280px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    min-height: 360px;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    margin-bottom: 25px;

    // Grow until tablet-portrait
    @include mq($until: tablet-portrait) {
      flex: 1 1 auto;
    }
    @include mq($from: tablet-portrait) {
      min-width: 310px;
      margin: 20px;
      min-height: 320px;
    }
  }

  // Rotate card class
  &__cards--flipped {
    transform: rotateY( 180deg );
  }
}