.o-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq($from: tablet) {
    justify-content: space-around;
  }

  @include mq($from: wide) {
    justify-content: flex-start;
  }
}